@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Noto Sans Bengali';
  src: url('./components//behavior/font.js') format('truetype');
}


body{
   font-family: "Noto Sans Bengali", sans-serif !important;
}

@layer components {
  input[type="file"]::-webkit-file-upload-button,
  input[type="file"]::file-selector-button {
    color: #69796a;
    background-color: bgGray;
    font-size: medium;
    cursor: pointer;
    padding: 10px;
    padding-right: 30px;
    margin-right: 15px;
    border: none;
  }
}


/* body{
   user-select: none;
} */

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(50%) sepia(100%) saturate(500%) hue-rotate(10deg);
  cursor: pointer;
}
